.postmaker-form {
    display: flex; 
    width: 100%; 
    gap: 5px;
}

.postmaker-form-nameinput {
    
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 10rem;
}

.postmaker-form-descinput {
    
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 20rem;
}

.postmaker-form-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}


.postmaker-form-button:hover {
    background-color: #0056b3; 
}

.postmaker-form-button:disabled {
    cursor:not-allowed;
    background-color: #65affd;
}

