.list-header-grid {
    display: grid;
    grid-template-columns: 10rem 20rem 10rem; /* Define tres filas con igual altura por defecto */
    max-height: 70%; /* Ocupa toda la altura de la pantalla */
    align-items: center;
    width: 100%;
    gap: 0px; /* Espacio entre las filas */
    padding:0;
    border: 2px solid black
}