.list-header-grid {
    display: grid;
    grid-template-columns: 10rem 20rem 10rem; 
    height: 100%; 
    align-items: center;
    width: 100%;
    gap: 0px; 
    padding:0;
    background-color: lightblue;
}