.App {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
  padding:10px;
  padding-top: 100px;
}

.container-grid {
display: grid;
grid-template-rows: auto auto auto; /* Define tres filas con igual altura por defecto */
max-height: 70%; /* Ocupa toda la altura de la pantalla */
align-items: center;
width: 500px;
gap: 10px; /* Espacio entre las filas */
padding:10px
}

.cell {
  display: flex;
  height: auto;
  justify-content: center; /* Centra el texto horizontalmente */
  align-items: center; /* Centra el texto verticalmente */
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}